<p>Hello World</p>

<app-button variant="Outlined" color="#3056D3"> Outlined</app-button>
<app-button variant="Filled" color="white"> Filled</app-button>
<app-button variant="Standard" color="#3056D3"> Standard</app-button>

<app-textfield
  placeholder="Standard"
  variant="Standard"
  type="text"
  classes="textfield-skin"
></app-textfield>
<br />
<app-textfield
  placeholder="Outlined"
  variant="Outlined"
  type="email"
  classes="textfield-skin"
></app-textfield>
<br />
<app-textfield
  placeholder="Filled"
  variant="Filled"
  type="password"
  classes="textfield-skin"
></app-textfield>
<app-textfield
  placeholder="Filled"
  variant="Filled"
  type="password"
  classes="textfield-skin"
  [error]="true"
  errorMessage="Error occurred"
></app-textfield>
