<p>Hello World</p>
<app-help-component
  helpMessage="hello from the other side, i must have called a thousand times to tell you how i am sorry for everything i have done."
></app-help-component>
<br />
<app-profile-avatar
[dnMenuLinks]="menuLinks" [dnMenuText]="menuLabels"></app-profile-avatar>
<app-datepicker
  (onDateChange)="dateChange($event)"
  variant="datetime"
></app-datepicker>
<app-datepicker
  (onDateChange)="dateChange($event)"
  variant="date"
></app-datepicker>
<app-assignment-card></app-assignment-card>
<app-course-card
  (onCourseCardClicked)="courseCardButton($event)"
  (onArchiveClicked)="archiveButton($event)"
  (onAddAssignmentClicked)="assignmentButton($event)"
  (onAddStudentClicked)="studentButton($event)"
></app-course-card>
<app-confirmation-box></app-confirmation-box><br />
<app-warning-box
  (onWarningButtonClick)="dialogueBoxButton($event)"
></app-warning-box
><br />
<app-success-box
  (onSuccessButtonClick)="dialogueBoxButton($event)"
></app-success-box
><br />
<app-table
  [data]="data"
  [headers]="headers"
  [isWrappable]="true"
  layout="fixed"
  [isScrollable]="true"
></app-table>
<br />
<app-table
  [data]="data"
  [headers]="headers"
  layout="auto"
  [isScrollable]="true"
></app-table>
<app-button variant="Outlined" color="#3056D3"> Outlined</app-button>
<app-button variant="Filled" color="white" background="#3056d3">
  Filled</app-button
>
<app-button variant="Standard" color="#3056D3"> Standard</app-button>
<br />
<app-textfield
  placeholder="Standard"
  variant="Standard"
  type="text"
></app-textfield>
<br />
<app-textfield
  placeholder="Outlined"
  variant="Outlined"
  type="email"
></app-textfield>
<br />
<app-textfield
  placeholder="Filled"
  variant="Filled"
  type="password"
></app-textfield>
<br />
<app-textfield
  placeholder="Filled"
  variant="Filled"
  type="password"
  [error]="true"
  errorMessage="Error occurred"
></app-textfield>

<app-file-upload accept=".txt" fileSizeLimit="2"></app-file-upload>
<br />
<app-file-upload
  accept=".txt"
  [error]="true"
  (fileSelected)="eventOutput($event)"
></app-file-upload>
<br />
<!-- <p *ngFor="let file of fileSelected">{{file.name}}</p> -->
<app-path-display
  [links]="['/DSA', '/Assignment', '/Assignment 1', '/Edit Assignment']"
  [pathDisplay]="['DSA', 'Assignment', 'Assignment 1', 'Edit Assignment']"
></app-path-display>
<br />
<app-textarea
  [maxlength]="30"
  [minlength]="10"
  (onValueChange)="textAreaOutput($event)"
></app-textarea>
<!-- <p>{{textAreaValue}}</p> -->
