<div class="course-box">
    <p style="font-size: 24px;">{{courseName}}</p>
    <div class="courseInformation">
        <p>{{year_semester}}</p>
        <p style="color:gray;">{{assignments}} assignments</p>
        <p style="color:gray;">{{submissions}} submissions</p>
    </div>
    <br/>
    <div>
        <app-button variant="Filled" background="#3056d3" 
        color="white" (onClick)="handleClick($event)">Add Assignment</app-button>
        <app-button variant="Standard" color="gray" (onClick)="handleClick($event)">Add Student</app-button>    
    </div>
</div>

