@import '../../../node_modules/tailwindcss/tailwind.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

input:focus {
    outline: none;
    box-shadow: none;
    }
    
.textfield-skin{
    @apply font-sans bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-max p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}