<div class="form-container" [ngClass]="isCancelClicked? 'hide-form':''">
    <form [formGroup]="addCourseForm">
        <p>Add Course</p>
        <label for= "course">COURSE NAME</label>
        <app-textfield 
        id="course"
        type="text" 
        variant="Outlined" 
        outline="2px solid #2B4BF2"
        [inputForm]="courseNameInput"
        (onChange)="courseNameChange($event)"
        ></app-textfield>
        <label for= "year_semester">YEAR-SEMESTER</label>
        <app-textfield 
        id="year_semester"
        type="text" 
        variant="Outlined" 
        outline="2px solid #2B4BF2"
        [inputForm]="semesterYearInput"
        (onChange)="semesterYearChange($event)"
        ></app-textfield>
        <div class="button-container">
            <app-button variant="Standard" color="gray" (onClick)="cancelButtonClicked()">Cancel</app-button>
            <app-button variant="Filled" color="white" (onClick)="submitCourse()" >Confirm</app-button>
        </div>
    </form>
</div>