@import '../../../node_modules/tailwindcss/tailwind.css';
@import '../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* .red{
    border: 10pt;
    color: red;
    width: 100%;
    padding: 12px 20px
} */

  
.style1 {
    @apply bg-gray-200 text-black;
  }
.style2{
   @apply block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6;
}
.style3{
    @apply bg-gray-50 border border-gray-200 flex text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full  p-2.5 ml-7;
}

.style4{
    @apply font-sans bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-6/12 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}